{{ form_start(form) }}
        <div class="row">
            <div class="col-md-4">{{ form_row(form.email) }}</div>
        </div>
        <div class="row">
            <div class="col-md-4">{{ form_row(form.roles) }}</div>
        </div>
        <div class="row">
        </div>
            {{ form_widget(form) }}
        <button class="btn btn-primary"> {{ button|default('enregistrer') }} </button>
{{ form_end(form) }}