{% extends "base.html.twig" %}

{% block title %}edition de {{ user.email }}{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h2>Editer le membre</h2>
        {% include 'admin/user/_form.html.twig' with {form: form, button:'Editer'} %}    
    </div>
{% endblock %}