{% extends "base.html.twig" %}

{% block title %}Gestion des biens{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
        <h1> Gestion des utilisateurs </h1>
        <p>
            lorem ipsum
        </p>
    </div>
    
    <div class="container mt-4">
        <h2> liste des biens</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            pseudo
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Role
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    {% set foo = "" %}
                	{% for role in user.roles %}
                        {% if role == 'ROLE_ADMIN' %} {% set foo = "bg-secondary" %} {% endif %}   
                    {% endfor %}
                    <tr class="{{ foo }}">
                        <td>
                            {% if user.pseudo %} {{ user.pseudo }} {% endif %}  
                        </td>
                        <td>
                            {{ user.email }}
                        </td>
                        <td>
                        {% for role in user.roles %}  
                            - {{ role }}<br>
                        {% endfor %}
                        
                        </td>
                        <td>
                            <a href="{{ path('admin.user.edit', {id: user.id}) }}" class="btn btn-primary">Edit</a>
                            <form method="post" action="{{ path('admin.user.delete', {id: user.id}) }}" style="display:inline-block" onsubmit="return confirm('Etes-vous sûr de SUPPRIMER -> {{ user.email }}?')"> 
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">                                
                                <input type="hidden" name="_method" value="DELETE">
                                <button class="btn btn-danger">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        <div class="text-right">
            <a href="{{ path('admin.property.new') }}" class="btn btn-success">Ajouter</a>
        </div>
    </div>
{% endblock %}