{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1> Agence deloc </h1>
        <p>
            lorem ipsum
        </p>
    </div>
    
    <div class="container">
        <h2> les derniers biens</h2>
        <div class="row flex">
            {% for property in properties %}
                <div class="col-md-3 col-sm-12">
                    <div class="card">
                        <div class="card-footer text-muted justify-content-between row">
                            <div class="">
                                {{ property.createdAt | format_datetime('short', 'none', locale='fr') }}
                            </div>
                         
                            <div class="">
                                {{ property.createdAt | format_datetime('none', 'short', locale='fr') }}
                            </div>
                        </div>
                        {% include "pages/_property.html.twig" %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}