{{ form_start(form) }}
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-4">{{ form_row(form.title) }}</div>
                    <div class="col-md-4">{{ form_row(form.surface) }}</div>
                    <div class="col-md-4">{{ form_row(form.price) }}</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row flex">
            {% for picture in property.pictures %}
                <div class="col m-1" style="width: 100px; flex: none;">
                    <img src={{ vich_uploader_asset(picture, 'imageFile') }} width="100">
                    <a href="{{ path('admin.picture.delete', {id: picture.id}) }}" class="btn btn-danger" data-delete data-token="{{ csrf_token('delete' ~ picture.id) }}"> Supprimer
                    </a>
                </div>
            {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">{{ form_row(form.rooms) }}</div>
            <div class="col-md-2">{{ form_row(form.bedrooms) }}</div>
            <div class="col-md-2">{{ form_row(form.heat) }}</div>
            <div class="col-md-2">{{ form_row(form.floor) }}</div>
        </div>
        <div class="row">
            <div class="col-md-11">{{ form_row(form.pictureFiles) }}</div>
            <div class="col-md-1">{{ form_row(form.sold) }}</div>
        </div>
        <div class="row">
            <div class="col-md-8">{{ form_row(form.address) }}</div>            
            <div class="col-md-2">{{ form_row(form.city) }}</div>
            <div class="col-md-2">{{ form_row(form.postalCode) }}</div>
        </div>
            {{ form_rest(form) }}
        <button class="btn btn-primary"> {{ button|default('enregistrer') }} </button>
{{ form_end(form) }}

{% block javascripts %}  
    <script src="https://cdn.jsdelivr.net/npm/places.js@1.18.1"></script>
    <script src="{{ asset('js/modules/address.js') }}"> </script> 
{% endblock %}