{% extends "base.html.twig" %}

{% block title %}edition de {{ property.title }}{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h2>Editer le bien</h2>
        {% include 'admin/property/_form.html.twig' with {form: form, button:'Editer'} %}    
    </div>
{% endblock %}
