{% extends "base.html.twig" %}

{% block title %}Gestion des biens{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
        <h1> Gestion des biens </h1>
        <p>
            lorem ipsum
        </p>
    </div>
    
    <div class="container mt-4">
        <h2> liste des biens</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Titre
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for property in properties %}
                    <tr>
                        <td>
                        {{ property.title }}
                        </td>
                        <td>
                            <a href="{{ path('admin.property.edit', {id: property.id}) }}" class="btn btn-primary">Edit</a>
                            <form method="post" action="{{ path('admin.property.delete', {id: property.id}) }}" style="display:inline-block" onsubmit="return confirm('Etes-vous sûr de SUPPRIMER -> {{ property.title }}?')"> 
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ property.id) }}">                                
                                <input type="hidden" name="_method" value="DELETE">
                                <button class="btn btn-danger">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        <div class="text-right">
            <a href="{{ path('admin.property.new') }}" class="btn btn-success">Ajouter</a>
        </div>
    </div>
{% endblock %}