{% extends "base.html.twig" %}

{% block title %}Ajouter un bien{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h2>Ajoputer un bien</h2>
        {% include 'admin/property/_form.html.twig' with {form: form, button:'Créer'} %}    
    </div>
{% endblock %}