<nav class="navbar navbar-expand-lg navbar-secondary bg-secondary">
            <h3 class="mr-5">Administration</h3>
            <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContentAdmin" aria-controls="navbarSupportedContentAdmin" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContentAdmin">
                <h6 class="m-0 text-white border-bottom">les Biens</h6>
                
                <ul class="navbar-nav mr-auto font-weight-bold border-dark border-left-2" >
                    
                    <li class="nav-item">
                        <a class="nav-link text-warning" href="{{ path('admin.property.index') }}" >voir les biens</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-warning" href="{{ path('admin.property.new')}}">Ajouter un bien</a>
                    </li>
                </ul>
                <h6 class="m-0 text-white border-bottom">Gestion compte</h6>
                <ul class="navbar-nav mr-auto font-weight-bold" >
                    <li class="nav-item">
                        <a class="nav-link text-warning" href= "#">à venir</a>
                    </li>
                    <li class="nav-item">

                    </li>
                </ul>
            </div>
</nav>