<div class="card mb-4">

{% if property.picture %}

     <img src={{ vich_uploader_asset(property.picture, 'imageFile') }}  class="d-block w-100" />
      
{% else %}
    <img src={{ asset('/images/default/defaultAnnonce.jpg') }} class="card-img-top img-fluid img-thumbnail" />

{% endif %}
    
    <div class="card-body">
        <h5 class="card-title">
            <a href= {{ path('property.show', {id:property.id, slug:property.slug}) }} >{{ property.title }}</a>
        </h5>
        <p class="card-text">{{ property.description | nl2br }}</p>
        <p class="card-text">{{ property.city }} ({{ property.postalCode }})</p>
        <div class="text-primary" style="font-size:2rem; font-weight: bold;">
            {{ property.formatedPrice }}
        </div>
    </div>
</div> 