{% extends 'base.html.twig' %}

{% block body %}

{# module de filtre #}
    <div class="jumbotron">
        <div class="container">
            {{ form_start(form) }}
                <div class="form-row">
                    <div class="col">
                        {{ form_row(form.maxPrice) }}
                    </div>
                    <div class="col">
                        {{ form_row(form.minSurface) }}
                    </div>
                    <div class="col">
                        {{ form_row(form.options)}}
                    </div>
                    <div class="col">
                        {{ form_row(form.address, {'id': 'search_address'}) }}
                    </div>
                    <div class="col">
                        {{ form_row(form.distance) }}
                    </div>
                    <div class="col">
                        <button class="btn btn-secondary">rechercher</button>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>

{# fin module de filtre #}

    <div class="container mt-4">
        <h1> Nos biens </h1>
        {# affiche un messge si on utiulise le module de filtre #}
        {% if (form.vars.value.maxPrice or form.vars.value.minSurface) != null  %}
        <div>
            <p>Nous avons {{ properties.getTotalItemCount }} bien correspondant à votre recherche.</p>
        </div>
        {% endif %}
        {# list tout les biens #}
        <div class="row">
            {% for property in properties %}
            <div class="col-md-4">
                    <div class="card-footer text-muted d-flex justify-content-between">
                        <div class="m-0">
                            {{ property.createdAt | format_datetime('short', 'none', locale='fr') }}  
                        </div>     
                        <div class="m-0">
                            {{ property.createdAt | format_datetime('none', 'short', locale='fr') }}
                        </div>
                    </div>
                    {% include "properties/_property.html.twig" %}
                    <p>
                    
                    </p>
                  
            </div>
            {% endfor %}
                <div class="navigation mx-auto">
                    {{ knp_pagination_render(properties) }}
                </div>
        </div>
    </div>
    
{% endblock %}

{% block javascripts %}  
    <script src="https://cdn.jsdelivr.net/npm/places.js@1.18.1"></script>
    <script src="{{ asset('js/modules/address.js') }}"> </script> 
{% endblock %}

{#3956 * 2 *ASIN(SQRT(POWER(SIN(('.origin_lat.' - 'dest_lat') * pi()/180/2),2)+
COS('origin.lat' * pi()/180) * COS('dest_lat' * pi()/180) *
POWER(SIN(('.origin_lng.' - 'dest_lng') * pi()/180/2),2)
)) as distance #}