{% extends "base.html.twig" %}

{% block title %}{{ property.title }}{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />

{% endblock %}

{% block body %}
    <style>
  img{
  width: auto;
  height: 200vh;
  max-height: 350px;
  background: no-repeat center center scroll;
  background-position: 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            {% if property.pictures is not empty %}
                                {% for picture in property.pictures %}
                                <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index - 1}}" class="{% if loop.index == 0 %} active {% endif %}"></li>
                                {% endfor %}
                            {% else %}
                                <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
                            {% endif %}
                        </ol>
                        {% if property.pictures is not empty %}
                        <div class="carousel-inner">
                            {% for  picture in property.pictures %}
                                <div class="carousel-item {% if loop.index == 1 %} active {% endif %}">
                                    <img src={{ vich_uploader_asset(picture, 'imageFile') }}  class="d-block w-100" />
                                </div>    
                            {% endfor %}
                        </div>
                        {% else %}
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src={{ asset('/images/default/defaultAnnonce.jpg') }} class="d-block w-100"/>
                            </div>
                        </div>
                        {% endif %}
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <h1>{{ property.title}}</h1>
                    <h2>{{ property.rooms}} piéces - {{ property.surface }} m²</h2>
                    <div class="text-primary" style="font-weight:bold;font-size:4rem"> {{ property.formatedPrice }} </div>
                    <a href="#" class="btn btn-primary" id="contactButton"  {% if form.vars.submitted %} style="display: none;"{% endif %}>Contacter l'agence</a>
                    <div id="contactForm" class="mt-4" {% if not form.vars.submitted %} style="display: none;"{% endif %}>
                        {{ form_start(form) }}
                            <div class="row">
                                <div class="col">{{ form_row(form.firstname) }}</div>
                                <div class="col">{{ form_row(form.lastname) }}</div>
                            </div>
                            <div class="row">
                                <div class="col">{{ form_row(form.phone) }}</div>
                                <div class="col">{{ form_row(form.email) }}</div>
                            </div>
                        {{ form_rest(form) }}
                            <div class="form-group">
                            <button class="btn btn-primary">Envoyer</div>
                            </div>
                        {{ form_end(form) }}
                        {% if is_granted('ROLE_ADMIN') %} 
                        <div class="mt-2">
                            <a href="{{ path('admin.property.edit', {id: property.id}) }}" class="btn btn-secondary">Edit</a>
                            <form method="post" action="{{ path('admin.property.delete', {id: property.id}) }}" style="display:inline-block" onsubmit="return confirm('Etes-vous sûr de SUPPRIMER -> {{ property.title }}?')"> 
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ property.id) }}">                                
                                <input type="hidden" name="_method" value="DELETE">
                                <button class="btn btn-danger">Supprimer</button>
                            </form>
                        <div>
                        {% endif %}
                    </div>  
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <p>
            {{ property.description | nl2br }}
        </p>
        <div class="row">
            <div class="col-md-8">
                <h2>Caractéristique</h2>
                <table class="table table-striped">
                    <tr>
                        <td>Surface habitable</td>
                        <td>{{ property.surface }} m²</td>
                    </tr>
                    <tr>
                        <td>Piéces</td>
                        <td>{{ property.rooms }}</td>
                    </tr>
                    <tr>
                        <td>Chambres</td>
                        <td>{{ property.bedrooms }}</td>
                    </tr>
                    <tr>
                        <td>Etages</td>
                        <td>{{ property.floor }}</td>
                    </tr>
                    <tr>
                        <td>Chauffage</td>
                        <td>{{ property.heatType }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4 mb-4">
                <h2>Spécificités</h2>
                <ul class="list-group">
                {% for option in property.options %}
                  <li class="list-group-item"> {{option.name}} </li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <div id="map" style="width: 100%; height: 400px" data-lat="{{ property.lat }}" data-lng="{{ property.lng }}">
        </div>
    </div>
{% endblock %}
{% block javascripts %} 
        <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
        <script src="{{ asset('js/modules/map.js') }}"></script>
{% endblock %}