<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Bootstrap Theme Company Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
  .jumbotron {
    background-color: #f4511e;
    color: #fff;
    padding: 100px 25px;
  }
  .container-fluid {
    padding: 60px 50px;
  }
  .bg-grey {
    background-color: #f6f6f6;
  }
  .logo-small {
    color: #f4511e;
    font-size: 50px;
  }
  .logo {
    color: #f4511e;
    font-size: 200px;
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
  }
  </style>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Contact sur un bien</h1> 
  <p>Demande d'information</p> 
</div>

<!-- Container (About Section) -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>{{ contact.property.title }}</h2>
      <h4>Le bien concerné</h4>      
      <p></p>
      <button class="btn btn-default btn-lg"><a href={{ url('property.show', {id: contact.property.id, slug: contact.property.slug})}}>Voir le bien</a></button>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-signal logo"></span>
    </div>
  </div>
</div>

<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-globe logo"></span>
    </div>
    <div class="col-sm-8">
      <h2>Our Values</h2>
      <h4><strong>MISSION:</strong> Our mission lorem ipsum..</h4>      
      <p><strong>VISION:</strong> Our vision Lorem ipsum..</p>
    </div>
  </div>
</div>

<!-- Container (Services Section) -->
<div class="container-fluid text-center">
  <h2>Information</h2>
  <h4></h4>
  <br>
  <div class="row">
    <div class="col">
      <h4>Nom</h4>
      <p>{{contact.lastname}}</p>
    </div>
    <div class="col">
      <h4>Prénom</h4>
      <p>{{contact.firstname}}</p>
    </div>
    <div class="col">
      <h4>Téléphone</h4>
      <p>{{contact.phone}}</p>
    </div>
    <div class="col">
      <h4>Email</h4>
      <p>{{contact.email}}</p>
    </div>
  </div>
  <br><br>
  <div class="row">
        <div class="col">
      <h4>Message :</h4>
      <p>{{contact.message | nl2br }}</p>
    </div>
  </div>
</div>

</body>
</html>
