<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/css/select2.min.css">
        
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href={{ path('home') }}>Agence deloc</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link {% if current_menu is defined and current_menu == "active" %}active text-primary{% endif %} " href= {{ path('properties') }} >Acheter <span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                <div>
            {% if not is_granted('IS_AUTHENTICATED_FULLY') %}<a class="btn btn-success" href="{{ path('app_login')}}">connexion</a><a class="btn btn-primary ml-1" href="{{ path('app_register')}}">Inscription</a>{% else %}<a class="btn btn-danger" href="{{ path('app_logout') }}">déconnexion</a>{% endif %}    
                </div>
            </div>
        </nav>

        {# ajout menu admin #}
        {% if is_granted('ROLE_ADMIN') %}
                {% include 'admin/menu.html.twig' %} 
        {% endif %}

        {% for message in app.flashes('success') %}
            <div class="alert alert-success text-center font-weight-bold">
                {{ message }}
            </div>
        {% endfor %}
        {% block body %}{% endblock %}
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/js/select2.min.js"></script>

        <script>
    /* start select 2*/
        $('select').select2({placeholder: "Selection",});

        $('#contactButton').click(e => {
            e.preventDefault();
            $('#contactForm').slideDown();
            $('#contactButton').slideUp();
        })

        document.querySelectorAll('[data-delete]').forEach(a => {
            a.addEventListener('click', e => {
                e.preventDefault()
                fetch(a.getAttribute('href'), {
                    method: 'DELETE',
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({'_token': a.dataset.token})
                }).then(response => response.json())
                    .then(data => {
                        if(data.success) {
                            a.parentNode.parentNode.removeChild(a.parentNode)
                        } else {
                            alert(data.error)
                        }
                    })
                    .catch(e => alert(e))
            })
        })
        </script>
    {% block javascripts %}{% endblock %}
    </body>
</html>
