{% extends "base.html.twig" %}

{% block title %}Gestion des options{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
        <h1> Gestion des options </h1>
    </div>
    
    <div class="container mt-4">
        <h2> liste des options</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Nom
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for option in options %}
                    <tr>
                        <td>
                        {{ option.name }}
                        </td>
                        <td>
                            <a href="{{ path('admin.option.edit', {id: option.id}) }}" class="btn btn-primary">Edit</a>
                            <form method="post" action="{{ path('admin.option.delete', {id: option.id}) }}" style="display:inline-block" onsubmit="return confirm('Etes-vous sûr de SUPPRIMER -> {{ option.name }}?')"> 
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ option.id) }}">                                
                                <input type="hidden" name="_method" value="DELETE">
                                <button class="btn btn-danger">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        <div class="text-right">
            <a href="{{ path('admin.option.new') }}" class="btn btn-success">Ajouter</a>
        </div>
    </div>
{% endblock %}