{% extends "base.html.twig" %}

{% block title %}Ajouter une option{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h2>Ajoputer une option</h2>
        {% include 'admin/option/_form.html.twig' with {form: form, button:'Créer'} %}    
    </div>
{% endblock %}
